.font-raleway{
    font-family: raleway;
}
.font-inter{
    font-family: inter;
}
.banner-section{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-color{
    background-color: #1DD100;
    /* color: black; */
}